<!--
  This template loads for the 'tab.place-detail' state (app.js)
  'firend' is a $scope variable created in the PlacesCtrl controller (controllers.js)
  The PlacesCtrl pulls data from the Places service (service.js)
  The Places service returns an array of friend data
-->
<ion-view title="{{place.name}}">
  <ion-content has-header="true" padding="true" class="bg">
  	<style type="text/css">
      .bg {
    background-image: url('img/bg.jpg')
    }
    </style>
	<!-- <div class="list card">

	    <h2 class="cntr">Distance~</h2>
 	 <div class="item item-avatar" class="center" id="outputDiv"></div>
	    <div id="warmOrCold" class="cntr pad">no change</div>
	    <div id="red"></div>
	</div>
	<div id="background"></div>
 -->
  <div class="list card">

      <h2 class="cntr">Distance~</h2>
   <div class="item item-avatar" class="center" id="outputDiv"></div>
      <div id="warmOrCold" class="cntr pad">no change</div>
      <div id="red"></div>
  </div>
  <div id="background"></div>

	<button id="found" class="button button-assertive">
  		Found Item
	</button>


	<div id="map-canvas"></div>

              <script type="text/javascript" charset="utf-8" src="cordova-2.5.0.js"></script>
    <script type="text/javascript" charset="utf-8">

    // Wait for Cordova to load
    //
    

    var watchID = null;
    var options = null;
    var currentPosition = null;
    var itemLocation = null;
    var id = null;
    var latitude = null;
    var longitude = null;
    var distanceToItem = null;
    var lastDistance = null;
    var map = null;
    var geocoder = null;
    var bounds = null;

    // Cordova is ready
    //
    function onDeviceReady() {
        // Throw an error if no update is received every 30 seconds
        options = { timeout: 30000 };
        watchID = navigator.geolocation.watchPosition(onSuccess, onError, options);

        currentPosition = null;
    console.log('currentId in local storage in place-detail' + localStorage.getItem('currentId'));
    id = null;
    id = localStorage.getItem('currentId');
    console.log('variable id in place-detail' + id);

    latitude = localStorage.getItem('latitude' + id);
    longitude = localStorage.getItem('longitude' + id);


    itemLocation = new google.maps.LatLng(latitude, longitude);

    
  bounds = new google.maps.LatLngBounds();

        calcCurrentDistance();

  setInterval(calcCurrentDistance, 1000);

  var params = {
      'user_id': localStorage.getItem('user_id'),
      'item_id': localStorage.getItem('currentId'),
    };

    console.log(params);

    $('#found').on('click', function () {
      angular.element.ajax({
      type: "POST",
      url: "http://getitred.com/ajax/post/finditem",
      data: params,
      error: function(jqXHR, strError){
        if (strError == 'timeout')
        {
          angular.element('#email').val('error');
        }
      },
      success: successCallback,
      dataType: "json",
      timeout: 3000
    });
      
    });

    function successCallback (data) {
      window.location="#/tab/dash";
    }

  google.maps.event.addDomListener(window, 'load', initialize);
    }

    // onSuccess Geolocation
    //
    function onSuccess(position) {
       
    }

    // onError Callback receives a PositionError object
    //
    function onError(error) {
        alert('code: '    + error.code    + '\n' +
              'message: ' + error.message + '\n');
    }

    

    function initialize() {
	  var opts = {
	    center: new google.maps.LatLng(55.53, 9.4),
	    zoom: 10
	  };
	  map = new google.maps.Map(opts);
	  geocoder = new google.maps.Geocoder();
	}

    function calcCurrentDistance() {   
    	console.log('running calc distance');
		//If HTML5 Geolocation Is Supported In This Browser 
		if (navigator.geolocation) {        
			//Use HTML5 Geolocation API To Get Current Position      
			navigator.geolocation.getCurrentPosition(function(position){        


				//Define New Google Map With Lat / Lon      
				var currentLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);  
				currentPosition = position;               
          

				distanceToItem = google.maps.geometry.spherical.computeDistanceBetween(itemLocation, currentLocation);

        distanceToItem = distanceToItem * 3.28084;

				if (distanceToItem != null) {
					$('#outputDiv').html(distanceToItem + 'ft');
				};

				if (distanceToItem != null && lastDistance != null && (distanceToItem < lastDistance)) {
					$('#warmOrCold').html('WARMER');
					$('#background').css('background-color', '#F00');
				} else if (distanceToItem != null && lastDistance != null && (distanceToItem > lastDistance)) {
					$('#warmOrCold').html('COLDER');
					$('#background').css('background-color', '#00F');
				};

				lastDistance = distanceToItem;
			});  

		} else {        
			//Otherwise - Gracefully Fall Back If Not Supported... Probably Best Not To Use A JS Alert Though :)      
			alert("Geolocation API is not supported in your browser."); 
		}  
	}

	

  document.addEventListener("deviceready", onDeviceReady, false);

  
	</script>

	 <!-- <p id="geolocation">Watching geolocation...</p> -->
  </ion-content>
</ion-view>
